body{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: url(banner.jpg);
  background-size: 100%;
}
.link-icon {
  text-decoration: inherit;
  color:inherit;
  margin-right: 10px;
}
.center {
  text-align: center;
}
.content {
  margin-top: 350px;
}